<section class="hero">
    <div class="container hero__container">
        <div class="hero__content">
            <h1 class="hero__title">
                <img class="hero__title-icon" src="./img/svg/star.svg" alt="star icon"> Get <span
                    class="hero__title-italic">Body</span> in <br> shape, Stay healthy
            </h1>

            <p class="hero__text">
                Transform your physique and embrace a healthier lifestyle with <br class="hero__text-br"> our
                comprehensive fitness and nutrition
                support.
            </p>
        </div>

        <div class="hero__img-wrapper">
            <img src="./img/women-sportswear-working-out-outdoors.jpg" alt="Two girls doing workout">
        </div>

        <div class="hero__info">
            <div class="hero__thumb-wrapper">
                <img src="./img/Image_3.jpg" alt="Workout thumbnail">
            </div>
            <ul class="hero__tags">
                <li class="hero__tag">#Sport</li>
                <li class="hero__tag">#Healthy</li>
                <li class="hero__tag">#Workout</li>
                <li class="hero__tag">#Diet</li>
            </ul>
        </div>
    </div>
</section>