<section class="inspiration">
    <div class="inspiration__quoteBlock">
        <div class="inspiration__quoteBlock__text">
            <img src="./img/svg/quote.svg" alt="A running man">

            <div class="inspiration__quoteBlock__text__content">
                <p class="inspiration__quoteBlock__text__title">
                    Quote of the day
                </p>

                <p class="inspiration__quoteBlock__text_quote">
                    A lot of times I find that people who are blessed with the most talent don't ever develop that
                    attitude,
                    and the ones who aren't blessed in that way are the most competitive and have the biggest heart.
                </p>
            </div>
        </div>

        <img src="./img/svg/invertedCommas.svg" alt="">

        <p class="inspiration__quoteBlock__author">
            Tom Brady
        </p>
    </div>

    <div class="inspiration__image">
        <img src="./img/Image_2.jpg" alt="two women drinking water">
    </div>

    <div class="inspiration__news">
        <img src="./img/svg/news.svg" alt="">

        <div class="inspiration__news__text">
            <p class="inspiration__news__text__title">
                110 min
            </p>

            <p class="inspiration__news__text__subtitle">
                Daily norm of sports
            </p>
        </div>

        <p class="inspiration__news__text__news">
            The World Health Organization recommends at least 150 minutes of moderate-intensity aerobic physical
            activity throughout the week for adults aged 18-64. However, what happens if we adjust that number to
            110 minutes every day? While it might seem like a high number to hit, dedicating 110 minutes daily to
            sporting activities may offer unparalleled benefits to physical health, mental well-being, and overall
            quality of life.
        </p>
    </div>
</section>