<section class="inspiration">
  <div class="container">
    <div class="inspiration__quoteBlock">
      <div class="inspiration__quoteBlock__text">
        <img src="./img/svg/quote.svg" alt="Quote icon" />

        <div class="inspiration__quoteBlock__text__content">
          <p class="inspiration__quoteBlock__text__title">Quote of the day</p>

          <p class="inspiration__quoteBlock__text_quote">
            A lot of times I find that people who are blessed with the most talent don't ever develop that attitude,
            and the ones who aren't blessed in that way are the most competitive and have the biggest heart.
          </p>
        </div>
      </div>

      <img src="./img/svg/invertedCommas.svg" alt="Inverted commas" />

      <p class="inspiration__quoteBlock__author">Tom Brady</p>
    </div>

    <div class="inspiration__image">
      <img
        src="./img/Image_2-1x.png"
        srcset="./img/Image_2-1x.png 1x, ./img/Image_2-2x.png 2x"
        alt="Two women drinking water after workout"
        loading="lazy"
      />
    </div>

    <div class="inspiration__news">
      <img src="./img/svg/news.svg" alt="News icon" />

      <div class="inspiration__news__text">
        <p class="inspiration__news__text__title">110 min</p>
        <p class="inspiration__news__text__subtitle">Daily norm of sports</p>
      </div>

      <p class="inspiration__news__text__news">
        The World Health Organization recommends at least 150 minutes of moderate-intensity aerobic physical
        activity throughout the week for adults aged 18-64. However, what happens if we adjust that number to
        110 minutes every day? While it might seem like a high number to hit, dedicating 110 minutes daily to
        sporting activities may offer unparalleled benefits to physical health, mental well-being, and overall
        quality of life.
      </p>
    </div>
  </div>
</section>
