h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 0;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
  }
}


.exercises-inspiration-wrapper {

    @media screen and (min-width: 1440px) {
        display: flex;
        align-items: flex-start;
        gap: 32px;
        padding: 0 32px;
    }
}