@font-face {
    font-family: 'DM Sans';
    src: url('../public/fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 1000;
    font-style: normal;
    font-display: swap;
}