.hero {

    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 40px;
    }

    &__title {
        margin: 0;
        margin-bottom: 20px;

        color: #242424;
        font-family: "DM Sans";
        font-size: 38px;
        font-style: normal;
        font-weight: 400;
        line-height: 44px;
        letter-spacing: -0.76px;

        &-italic {
            color: #242424;
            font-family: "DM Sans";
            font-size: 38px;
            font-style: italic;
            font-weight: 400;
            line-height: 44px;
            letter-spacing: -0.76px;
        }

        &-icon {
            display: inline-block;
            width: 38px;
            height: 38px;
            margin-right: 4px;
            vertical-align: baseline;
            position: relative;
            top: 4px;
        }
    }

    &__text {
        margin: 0px;

        color: #242424;
        font-family: "DM Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.28px;

        &-br {
            display: none;
        }
    }

    &__img-wrapper {
        margin: 0px;

        display: flex;
        justify-content: center;
        align-items: center;

        aspect-ratio: 335 / 460;
        border-radius: 30px;
        background: #FFF;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__tags {
        display: inline-flex;
        align-items: flex-start;
        gap: 7px;
        flex-wrap: wrap;
    }

    &__tag {
        display: flex;
        padding: 4px 12px;
        justify-content: center;
        align-items: center;

        border-radius: 30px;
        border: 1px solid #242424;

        color: #242424;
        font-family: "DM Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }

    &__thumb-wrapper {
        display: none;
    }

    @media screen and (min-width: 768px) {

        &__container {
            gap: 0px;
            display: flex;
            margin-left: 32px;
            margin-right: 32px;
            margin-bottom: 64px;
        }

        &__title {
            color: #242424;
            font-family: "DM Sans";
            font-size: 74px;
            font-style: normal;
            font-weight: 400;
            line-height: 74px;
            /* 100% */
            letter-spacing: -1.48px;

            margin-bottom: 20px;

            &-italic {
                color: #242424;
                font-family: "DM Sans";
                font-size: 74px;
                font-style: italic;
                font-weight: 400;
                line-height: 74px;
                letter-spacing: -1.48px;
            }

            &-icon {
                display: inline-block;
                width: 59px;
                height: 59px;
                margin-right: 4px;
                vertical-align: baseline;
                position: relative;
                top: 4px;
            }
        }

        &__text {
            color: #242424;
            font-family: "DM Sans";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 133.333% */
            letter-spacing: -0.36px;

            margin-bottom: 32px;

            &-br {
                display: none;
            }
        }

        &__img-wrapper {
            margin: 0px;

            display: flex;
            justify-content: center;
            align-items: center;

            aspect-ratio: 704 / 550;
            border-radius: 60px;
            background: #FFF;
            overflow: hidden;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            margin-bottom: 16px;
        }

        &__info {
            align-self: flex-end;
        }

        &__tags {
            display: flex;
            width: 396px;
            justify-content: flex-end;
            gap: 8px;
        }

        &__tag {
            display: flex;
            padding: 4px 16px;
            justify-content: center;
            align-items: center;
            gap: 10px;

            border-radius: 30px;
            border: 1px solid #242424;
        }
    }

    @media screen and (min-width: 1440px) {
        &__container {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-areas:
                "content info"
                "image image";
            column-gap: 32px;
            row-gap: 32px;
            margin-right: 32px;
        }

        &__content {
            grid-area: content;
        }

        &__info {
            grid-area: info;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            align-self: start;
            gap: 40px;
        }

        &__thumb-wrapper {
            display: block;
            margin-top: 12px;
            width: 168px;
            height: 100px;
            border-radius: 20px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__tags {
            display: flex;
            width: 197px;
            justify-content: flex-end;
            align-items: flex-start;
            align-content: flex-start;
            gap: 8px;
            flex-wrap: wrap;
        }

        &__tag {
            display: flex;
            padding: 4px 16px;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        &__img-wrapper {
            grid-area: image;
            aspect-ratio: 1376 / 350;
            margin-bottom: 0;

            img {
                object-position: 0% 25%;
            }
        }

        &__title {
            margin-bottom: 20px;
        }

        &__text {
            margin-bottom: 0px;

            &-br {
                display: block;
            }
        }
    }
}